* {
    margin: 0;
}
.link {
    text-decoration: none;
    color: #313037;
}
.BlogHeader {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.card_title {
    color: #313037;
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
}
.blog_choice {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 65px;
    border-bottom: 1px solid #3130371a;
}
.blog_choice_articles {
    padding: 0 40px 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #313037;
}
.blog_choice_news {
    padding: 0 40px 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #313037;
    border-bottom: 2px solid black;
}
.selection {
    display: flex;
    flex-direction: row;
    gap: 329px;
}
.data_selection {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.data_data {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 16px 40px 16px 40px;
    border-radius: 4px;
    background: #6c1bdb;
    margin: 0;
    border: none;
}
.data_week {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 16px 40px 16px 40px;
    border-radius: 4px;
    margin: 0;
    background: #3130371a;
    border: none;
}
.data_monath {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 16px 40px 16px 40px;
    border-radius: 4px;
    margin: 0;
    background: #3130371a;
    border: none;
}
.data_year {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 16px 40px 16px 40px;
    border-radius: 4px;
    margin: 0;
    background: #3130371a;
    border: none;
}
.sort_selection {
    background-color: white;
    width: 256px;
}
.selector {
}
.selectors {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 16px 20px;
}
.blog {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 64px;
}

.blog_Component {
    display: grid;
    grid-template-columns: 352px 352px 352px;
    gap: 32px;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: white;
}
.img {
    width: 352px;
    height: 208px;
    background: linear-gradient(
        133.87deg,
        rgba(77, 10, 199, 0.6) -10.18%,
        rgba(145, 46, 242, 0.6) 108.59%
    );
    background-blend-mode: overlay;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.img:hover {
    background: linear-gradient(
        133.87deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 0%
    );
}

.card_component_text {
    padding: 32px;
}
.data {
    color: #31303780;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 8px;
}
.title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #313037;
}

.blogItem {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
.link_home {
    display: flex;
    gap: 8px;
    padding-bottom: 32px;
}
.home {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #313037;
}
.home_id {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #31303780;
}
.title_item {
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 38px;
}
.image {
    height: 518px;
    width: 1200px;
    border-radius: 16px;
    padding-bottom: 48px;
}
.comp {
    padding: 0 100px;
    padding-bottom: 72px;
    border-bottom: 1px solid #3130371a;
}
.card_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #313037;
    padding-bottom: 48px;
}
.network {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.facebook {
    width: Hug (88px);
    height: Hug (56px);
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    gap: 10px;
    background: #3130371a;
}
.facebook svg {
    width: 24px;
    height: 24px;
    color: black;
}
.twitter {
    width: Hug (88px);
    height: Hug (56px);
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    gap: 10px;
    background: #3130371a;
}
.twitter svg {
    width: 24px;
    height: 24px;
    color: black;
}
.other {
    width: Hug (88px);
    height: Hug (56px);
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    gap: 10px;
    background: #3130371a;
}
.other svg {
    width: 24px;
    height: 24px;
    color: black;
}
.pagination {
    width: 1200px;
    padding: 72px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btnPagination {
    background-color: #f3f3f3;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnPagination svg {
    width: 24px;
    height: 24px;
}
.btnText {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
